*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #d7e6de;
}

.main{
    max-width: 1200px;
    background-color: white;
    margin: 20px auto;
    padding: 30px 2%;
}

.main h2{
    text-align: center;
    color: yellow;
    font-family: 'Luckiest Guy', cursive;
    font-size: 40px;
}

.pokemons{
    margin: 20px 0;
    display: flex;
    flex-wrap: wrap;
}

.pokemom{
    border-radius: 10px;
    width: 29%;
    margin: 20 2%;
    background-color: rgb(220, 220, 220);
}

.pokemom img{
    width: 100%;
}

.pokemom p{
    color: black;
    text-align: center;
    font-size: 21px;
    font-family: 'Luckiest Guy', cursive;
    padding: 10px 0;
}